.main__profile{
    box-sizing: border-box;
    /* margin-top: 100px;
    margin-left: 170px; */
    /* padding-top: 30px; */
    padding-bottom: 50px;
    background: rgb(247, 249, 250);
    /* height: 100vh; */

}
.profile{
    font-size: 22px;
    color: rgb(63, 64, 64);
    padding: 32px 0px 0px 32px;
}
.details{
    display: inline-block;
    vertical-align: middle;
}
.details span{
    display: block;
}
.name{
    font-size: 21px;
    color: rgb(63, 64, 64);
}
.position{
    font-size: 14px;
}
.password-container{
    width: 33%;
}